@page "/iniciar-sesion"
@rendermode InteractiveServer

<PageTitle>Login</PageTitle>

<!-- Login Styles -->
<style>
    .login-container {
        max-width: 400px;
        margin: 0 auto;
        padding: 2rem;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #fff;
    }

    h3 {
        text-align: center;
        color: #333;
    }

    .form-group {
        margin-bottom: 1rem;
    }

        .form-group label {
            display: block;
            font-weight: bold;
            margin-bottom: 0.5rem;
        }

    .form-control {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 1rem;
    }

    .btn-login {
        width: 100%;
        padding: 0.7rem;
        background-color: #007bff;
        border: none;
        border-radius: 4px;
        color: white;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .btn-login:hover {
            background-color: #0056b3;
        }
</style>

<div class="login-container">
    <h3>Academica</h3>
    <form>
        <div class="form-group">
            <label for="username">Usuario</label>
            <input id="username" type="text" class="form-control" required @bind="username" />
        </div>

        <div class="form-group">
            <label for="password">Contraseña</label>
            <input id="password" type="password" class="form-control" required @bind="password" />
        </div>
        <button type="button" class="btn-login" @onclick="SignInFunction">Iniciar sesión</button>
    </form>

    @if (errorMsg != "") {
        <p style="color:red"> @errorMsg </p>
    }
</div>

@inject Blazor.Services.ConnectionService ClientService
@code {
    private string username;
    private string password;

    private string errorMsg = "";

    private async Task SignInFunction() {
        if (string.IsNullOrEmpty(username) || string.IsNullOrEmpty(password)) {
            errorMsg = "Debe completar todos los campos";
            return;
        } else {
            var result = await ClientService.SignIn(username, password);
            if (result["valid"] == "true" && result["TipoPersona"] == "Alumno") {
                errorMsg = "Sos alumno";
            } else if (result["valid"] == "true" && result["TipoPersona"] == "Profesor") {
                errorMsg = "Sos profesor";
            } else {
               errorMsg =  "Usuario o contraseña inválido";
            }
        }
    }
}
