@page "/"

<PageTitle>Home</PageTitle>

<style>

</style>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Bienvenido a Academica, (Nombre alumno)!</h1>
            <h4>Para autogestionar tu inscripciones, navegá por el menu lateral</h4>
        </div>
    </div>
</div>

@code {
    private ICollection<clientSwagger.AlumnosInscripcione> result;
    private clientSwagger.clientSwagger client = new clientSwagger.clientSwagger("https://localhost:7039/", new HttpClient());

    private async Task Refresh()
    {
        result = await client.Get_All_Alumnos_InscripcionesAsync();
    }
    
    protected override async Task OnInitializedAsync()
    {
        await Refresh();
    }
}
