@page "/materias"


<h1>Materias</h1>

@if (inscripciones == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Materia</th>
                <th>Condicion</th>
                <th>Nota</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var inscripcion in inscripciones)
            {
                <tr>
                    <td>@inscripcion.IdCursoNavigation.IdMateriaNavigation.DescMateria</td>
                    <td>@inscripcion.Condicion</td>
                    <td>@inscripcion.Nota</td>
                </tr>
            }
        </tbody>
    </table>
}

@inject Blazor.Services.ConnectionService ClientService
@code {
    private clientSwagger.clientSwagger client;

    private int idAlumnoLogueado = 6;
    private ICollection<clientSwagger.AlumnosInscripcione> inscripciones;

    protected override async Task OnInitializedAsync()
    {
        client = ClientService.Client();
        // Simulación de carga de datos
        await Task.Delay(1000);
        inscripciones = await client.Get_Alumnos_Inscripciones_By_AlumnoAsync(idAlumnoLogueado);
    }
}