@page "/materias"


<h1>Materias</h1>

@if (persona == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Materia</th>
                <th>Condicion</th>
                <th>Nota</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var inscripcion in persona.AlumnosInscripciones)
            {
                <tr>
                    <td>@inscripcion.IdInscripcion</td>
                    <td>@inscripcion.IdCursoNavigation?.IdMateriaNavigation?.DescMateria</td>
                    <td>@inscripcion.Condicion</td>
                    <td>@inscripcion.Nota</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private clientSwagger.clientSwagger client = new clientSwagger.clientSwagger("https://localhost:7039/", new HttpClient());
    private clientSwagger.Persona persona;

    protected override async Task OnInitializedAsync()
    {
        // Simulación de carga de datos
        await Task.Delay(1000);
        persona = await client.Get_PersonaAsync(14, true, false);
    }
}








